<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
</head>
<body>
<h1>PRIVACY POLICY</h1>
This privacy policy is for the <%= botName %> conversational bot [<a
  href="https://m.me/<%= fbUsername %>">m.me/<%= fbUsername %></a>] built on top of Facebook's Messenger platform. The
policy sets out the different areas where user privacy is concerned, and describes the ways in which <%= botName %>
processes, stores, and protects user data.

<h2>THE <%= botName.toUpperCase() %> BOT</h2>
The bot is built on top of Facebook Messenger,
which means all messages, photos, Gifs, Emojis, literally EVERYTHING that you send to the bot gets stored on Facebook's
servers.
The only thing we store is the TV Series' that you subscribe to, as it is required to send you relevant notifications
when those TV Series' release a new episode. All we do is provide you the data, notifications and serve them to you as
an entity on Facebook that you can message with and hear back from in real time.

Each message you send to the <%= botName %> bot begins its journey on Facebook's servers.
It is then temporarily sent to <%= botName %>,where it searches for the TV series and sends back the data to Facebook's
servers and then stored in your messages
history (on Facebook). <%= botName %> does not save any of the messages it receives, and it ignores / throws away all the
attachments it
receives.

The <%= botName %> bot is integrated with the <%= botName %> Facebook Page (<a
  href="https://fb.com/<%= fbUsername %>">fb.com/<%= fbUsername %></a>). As is the case with all Pages on Facebook, administrators
of the <%= botName %> Page will have access to the messages the page has received and will be able to reply to messages
manually in the case where a user asks a question. <%= botName %> follows all privacy rules and guidelines set by
Facebook's policies for conversational interfaces built using the Facebook Messenger API. This includes the fact
that <%= botName %> will never send marketing or promotional communications to Facebook users that have messaged the
page; no data that sits on the Facebook Messenger platform will ever be taken out of the platform; users' Facebook
profiles will never be shared with any 3rd-parties
</body>
</html>
